name: Build Docker Image CI for s3 Package

on:
  #push:
  workflow_dispatch:  

jobs:
  build_and_publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        run: echo "${{ secrets.GH_PAT }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and push Docker image from s3 folder
        run: |
          docker build -f s3/Dockerfile -t ghcr.io/${{ github.actor }}/s3-app:latest s3/
          docker push ghcr.io/${{ github.actor }}/s3-app:latest
